{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Page title{% endblock %}</title>
    <link rel="stylesheet" href="{% static "stylesheets/normalize.css"%}" />
      <link rel="stylesheet" href="{% static "stylesheets/app.css"%}" />
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    {% block head_content %}{% endblock %}
  </head>
  <body>
      <main>
          {% block content %}Main content{% endblock %}
      </main>
    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "js/vendor/foundation.min.js" %}"></script>
    {% block body_end_content %}
        <script src="{% static "js/app.js" %}"></script>
    {% endblock %}
  </body>
</html>
