# Rename this file to .env, and set reasonable values.
DEBUG=off
# DJANGO_SETTINGS_MODULE is checked for by manage.py to determine env to use.  Actual env variables will override it.
# e.g.  ``DJANGO_SETTINGS_MODULE=rpspot.settings.dev_local ./manage.py runserver`` would override the value set in this file.
# If this value is not present, it will default to rpspot.settings.dev (default value set in manage.py)
DJANGO_SETTINGS_MODULE=rpspot.settings.dev
SECRET_KEY=a long secret key
DATABASE_URL=postgres://user:pass@host_or_ip:5432/dbname
SPOTIFY_CLIENT_ID=client_id
SPOTIFY_CLIENT_SECRET=client_secret
