django==1.9.12
# spotipy==2.3.7
-e git+https://github.com/brki/spotipy@3b85e5f7c50b42078a792734205fc66416066a05#egg=spotipy
beautifulsoup4==4.4.1
django-environ==0.4.0
django-ipware==1.1.3
djangorestframework==3.3.2
psycopg2==2.6.1
python-dateutil==2.5.0
pytz==2015.7
requests==2.9.1
six==1.10.0
