django==1.9.4
spotipy==2.3.7
beautifulsoup4==4.4.1
django-environ==0.4.0
django-ipware==1.1.3
djangorestframework==3.3.2
psycopg2==2.6.1
python-dateutil==2.5.0
pytz==2015.7
requests==2.9.1
six==1.10.0
