{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Page title{% endblock %}</title>
    <link rel="stylesheet" href="{% static "trackmap/stylesheets/app.css"%}" />
    <script src="{% static "trackmap/bower_components/modernizr/modernizr.js" %}"></script>
    {% block head_content %}{% endblock %}
  </head>
  <body>
      <main>
          {% block content %}Main content{% endblock %}
      </main>
    <script src="{% static "trackmap/bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "trackmap/bower_components/foundation/js/foundation.min.js" %}"></script>
    <script src="{% static "trackmap/js/app.js" %}"></script>
  </body>
</html>
