{% extends "site/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{% static "stylesheets/jquery-ui.css"%}" />
{% endblock %}


{% block title %}
    {%  trans "Generate Spotify playlist based on Radio Paradise playlist history" noop %}
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="intro row">
            <div class="column small-12 small-centered">
                <h1 id="playlist-page-title">Playlist Generator</h1>
                <h2 class="subheader">
                    Here you can see tracks that have played recently on
                    <a href="http://radioparadise.com">Radio Paradise</a>, that are also available on Spotify.
                </h2>
                <p>
                    <strong>Note:</strong> the "Open in Spotify" button doesn't work for the moment on mobile devices,
                    due to Spotify app implementation details.
                </p>
            </div>
        </div>
        <div class="row playlist-options">
            <div id="playlist-options">
                <div class="column small-12 small-centered">
                    <ul class="accordion" data-accordion>
                        <li class="accordion-navigation">
                            <a href="#options" class="button radius options">
                                <span class="status"></span>
                                <span class="options-text">{% trans "Options" noop %}</span>
                            </a>
                            <div id="options" class="content">
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    <ul class="inline-list">
                                        {{ form.as_ul }}
                                    </ul>
                                    <input type="submit" class="button" />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="playlist-container" class="row">
            <div id="playlist-wrapper" class="column small-12 small-centered">
                <iframe id="spotify-playlist" width="380" height="600" frameborder="0" allowtransparency="true"
                        src="https://embed.spotify.com/?view=list&theme=white&uri={{ playlist_uri }}"></iframe>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_end_scripts %}
    <script src="{% static "js/vendor/jquery-ui.js" %}"></script>
    <script src="{% static "js/vendor/jquery-ui-timepicker-addon.js" %}"></script>
    <script src="{% static "js/vendor/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}
