{% extends "trackmap/base.html" %}
{% load i18n %}

{% block title %}
    {%  trans "Generate Spotify playlist based on Radio Paradise playlist history" noop %}
{% endblock %}

{% block content %}
<a class="button round success" href="{{ playlist_uri }}">{% trans "Open in spotify" noop %}</a>
<!-- TODO: use a grid instead of a table? -->
<table id="playlist" class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>{% trans "Played at" noop %}</th>
            <th></th>
            <th>{% trans "Song" noop %}</th>
            <th>{% trans "Artist" noop %}</th>
            <th>{% trans "Album" noop %}</th>
        </tr>
    </thead>
    <tbody>
    {% for t in tracks %}
        <tr>
            <td>{{ t.played_at }}</td>
            <td><img src="{{ t.img_small_url }}" alt="{{ t.album_title }}" /></td>
            <td>{{ t.title }}</td>
            <td>{{ t.artist }}</td>
            <td>{{ t.album_title }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="button round success" href="{{ playlist_uri }}">{% trans "Open in spotify" noop %}</a>
{% endblock %}
