{% extends "site/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{% static "stylesheets/jquery-ui.css"%}" />
{% endblock %}


{% block title %}
    {%  trans "Unmatched songs" noop %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="small-8 large-12 columns">
            <div class="row">
                <div class="small-3 large-4 columns">
                    <span class="right inline">Total unmatched: </span>
                </div>
                <div class="small-9 large-8 columns">
                    <span id="unmatched_count">{{ unmatched_count }}</span>
                </div>
            </div>
        </div>
    </div>
        {% for song in songs %}
            <hr>
            {% autoescape on %}
            {% for data in song %}
                <div class="row">
                    <div class="small-8 large-12 columns">
                        <div class="row">
                            <div class="small-3 large-4 columns">
                                <span class="right inline">{{ data.label | safe }}</span>
                            </div>
                            <div class="small-9 large-8 columns">
                                {% if data.type == 'url' %}
                                    <a target="_blank" href="{{ data.value | safe }}">{{ data.value }}</a>
                                {% elif data.type == 'actions_info'%}
                                    <p>
                                        <form action="{{ data.value.checked_action_url | safe }}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_to" value="{{ data.value.redirect_url | safe }}" />
                                            <input type="submit" value="{{ data.value.checked_button_text }}" />
                                        </form>
                                    </p>
                                    <p>
                                        <form action="{{ data.value.retry_action_url | safe }}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_to" value="{{ data.value.redirect_url | safe }}" />
                                            <input type="submit" value="{{ data.value.retry_button_text }}" />
                                        </form>
                                    </p>
                                    <p>
                                    <form action="{{ data.value.correct_title_action_url | safe }}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="redirect_to" value="{{ data.value.redirect_url | safe }}" />
                                        <input type="text" size="40" name="correct_title" value="{{ data.value.song_title }}" />
                                        <input type="submit" value="{{ data.value.correct_title_button_text }}" />
                                    </form>
                                    </p>
                                {% else %}
                                    <span id="{{ data.id }}">{{ data.value }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endautoescape %}
        {% endfor %}
{% endblock %}


{% block body_end_scripts %}
    <script src="{% static "js/vendor/jquery-ui.js" %}"></script>
    <script src="{% static "js/vendor/jquery.ui.touch-punch.min.js" %}"></script>
{% endblock %}
